@mixin section {list-style: none;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 1rem;
    a{ color: black;
        text-decoration: none;}
        &:hover{ 
            color:darkblue; 
            border-bottom: 1px solid;
            transition: 0.3s;}
            li{ margin-top: 0.2rem;}
    }
    
